@import "../modules/_theme.scss";

.command-bar > *:nth-child(even) {
    padding: 0 1em;
}

select {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: $background-color;
}

#info-btn {
    opacity: 0.25;
    transition: opacity ease 250ms;

    &:hover, &.is-active {
        opacity: 1;
    }
}

#system-info {
    opacity: 0;
    white-space: pre;
    position: absolute;
    line-height: 1.25em;
    visibility: collapse;
    transform: translateY(2em);
    background-color: $background-color;

    transition: {
        duration: 500ms;
        property: transform, opacity;
    }

    &.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateY(-1em);
    }
}