@import "../modules/_theme.scss";

%btn {
    outline: none;
    cursor: pointer;
    color: $text-color;
    background-color: transparent;

    i {
        font-size: 100%;

        &:before {
            vertical-align: middle;
        }
    }
}

button, .btn {
    @extend %btn;
}

.tabs {
    background-color: $background-color;
}

.tab-btn {
    @extend %btn;
    opacity: 0.5;
    background-color: $alt-background-color;
    border-bottom: 2px solid transparentize($text-color, 0.75);

    transition: {
        duration: 250ms;
        timing-function: ease-in;
        property: background-color, border-color, opacity;
    }

    &:hover {
        opacity: 0.8;
    }

    &.is-active {
        opacity: 1;
        border-bottom-color: $accent-color-1;
        background-color: $alt-background-color;
    }
}

.clean-btn {
    @extend %btn;
    position: absolute;
    right: 0;
    margin: 0 1em;
    opacity: 0.75;
    transition: opacity ease-in 250ms;

    &:hover {
        opacity: 1;
    }
}