@import "../modules/_theme.scss";

html, body {
    height: 100%;
    color: $text-color;
    background-color: $background-color;
}

// Containers
// ===========================================================================

%container {
    display: flex;
}

.row {
    @extend %container;

    &.right {
        justify-content: flex-end;
    }

    &.baseline {
        align-items: baseline;
    }
}

.column {
    @extend %container;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

// Sizing & Spacing
// ===========================================================================

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

%padding {
    &.horizontal {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.vertical {
        padding-left: 0;
        padding-right: 0;
    }
}

.p25 {
    @extend %padding;
    padding: 0.25em;
}

.p50 {
    @extend %padding;
    padding: 0.5em;
}

.p100 {
    @extend %padding;
    padding: 1em;
}

%margin {
    &.vertical {
        margin-left: 0;
        margin-right: 0;
    }

    &.horizontal {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.m25 {
    @extend %margin;
    margin: 0.25em;
}

.m50 {
    @extend %margin;
    margin: 0.5em;
}

.m100 {
    @extend %margin;
    margin: 1em;
}

// Responsiveness
// ===========================================================================

.is-hidden, .hide {
    display: none !important;
}