@import "../modules/_theme.scss";

thead {
    tr:last-child {
        background-color: invert($alt-background-color, 15);
    }
}

tr:hover .cell {
    &.is-numeric {
        cursor: pointer;
    }

    & > * {
        border-top-color: $accent-color-1;
        border-bottom-color: $accent-color-1;
    }

    .cell-value {
        opacity: 1;
    }
}

$cell-padding: 0.5em;

th, td {
    text-align: left;
    padding: $cell-padding;
}

.cell {
    padding: 0;

    & > * {
        padding: $cell-padding;
        border: 2px solid transparent;

        transition: {
            duration: 250ms;
            property: border-color;
            timing-function: linear;
        }
    }

    &.is-active {
        background-color: invert($background-color, 5);

        & > * {
            border-left-color: $accent-color-1;
            border-right-color: $accent-color-1;
        }

        .cell-value {
            opacity: 1;
        }
    }
}

.cell-value {
    transition: {
        duration: 250ms;
        property: opacity;
        timing-function: ease-in;
    }

    &.computed {
        opacity: 0;
        font-weight: lighter;
        color: $subtle-text-color;
    }
}