@import "../modules/_theme.scss";

thead {
    tr:last-child {
        background-color: invert($alt-background-color, 15);
    }

    th {
        border-left-width: 2px;
        border-right-width: 2px;
    }
}

tbody tr {
    border-top: 2px solid;
    border-color: transparent;
    transition: border-color ease-in 250ms;
}

    tbody tr:hover {
        border-top-color: $accent-color-1;

        & + tr {
            border-top-color: $accent-color-1;
        }

        .computed {
            opacity: 1;
        }
    }

    tbody tr:last-child {
        border-bottom: 2px solid transparent;

        &:hover {
            border-color: $accent-color-1;
        }
    }

th, td {
    text-align: left;
    padding: 0.5em 0.25em;
    border-left: 2px solid transparent;
    transition: border-color ease-in 250ms;
}

    td:last-child {
        border-right: 2px solid transparent;

        &.is-active {
            border-color: $accent-color-1;
        }
    }

    td.is-numeric {
        cursor: pointer;
    }

    td.is-active {
        background-color: $accent-color-2;
        border-color: $accent-color-1;
        transition: background-color ease-in 250ms;

        & + td {
            border-color: $accent-color-1;
        }

        .computed {
            opacity: 1;
            color: lighten($accent-color-1, 30);
        }
    }

.cell-value {
    font-family: $number-font;
}

.computed {
    opacity: 0;
    color: $subtle-text-color;
    transition: opacity ease-in 250ms;
}