@import "../modules/_theme.scss";

thead {
    tr:last-child {
        background-color: invert($alt-background-color, 15);
    }

    th {
        cursor: pointer;
        border-left-width: 2px;
        border-right-width: 2px;
    }
}

th:hover {
    .sf-icon-sort {
        opacity: 1;
    }
}

th.is-active {
    .sf-icon-sort {
        opacity: 1;
        color: $accent-color-1;
    }
}

tbody tr {
    border-top: 2px solid;
    border-color: transparent;
    transition: border-color ease-in 250ms;
}

    tbody tr:hover {
        border-top-color: $accent-color-1;

        & + tr {
            border-top-color: $accent-color-1;
        }

        .computed {
            opacity: 1;
        }
    }

    tbody tr:last-child {
        border-bottom: 2px solid transparent;

        &:hover {
            border-color: $accent-color-1;
        }
    }

th, td {
    text-align: left;
    padding: 0.5em 0.25em;
    border-left: 2px solid transparent;
    transition: border-color ease-in 250ms;
}

    td:last-child {
        border-right: 2px solid transparent;

        &.is-active {
            border-color: $accent-color-1;
        }
    }

    td.is-numeric {
        cursor: pointer;

        .cell-value {
            font-family: Consolas;
        }
    }

    td.is-active {
        background-color: $accent-color-2;
        border-color: $accent-color-1;
        transition: background-color ease-in 250ms;

        & + td {
            border-left-color: $accent-color-1;
        }

        .computed {
            opacity: 1;
            color: lighten($accent-color-1, 30);
        }
    }

.cell-value {
    white-space: pre;
}

.computed {
    opacity: 0;
    color: $subtle-text-color;
    transition: opacity ease-in 250ms;
}

.sf-icon-sort {
    opacity: 0;
    font-size: 0.90em;
    vertical-align: baseline;
    color: $subtle-text-color;
    transition: opacity ease-in, 250ms;
}

/* MS-Edge */

@supports (-ms-ime-align:auto) {
    tr {
        border: none !important;
    }

        tr:hover {
            td > * {
                border-top-color: $accent-color-1;
                border-bottom-color: $accent-color-1;
            }
        }

    td {
        padding: 0;

        & > * {
            padding: 0.5em 0.25em;
            border: 2px solid transparent;
        }

        &.is-active {
            border-left-color: $accent-color-1;
            border-right-color: $accent-color-1;
        }
    }
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    tr {
        border: none !important;
    }

        tr:hover {
            td > * {
                border-top-color: $accent-color-1;
                border-bottom-color: $accent-color-1;
            }
        }

    td {
        padding: 0;

        & > * {
            padding: 0.5em 0.25em;
            border: 2px solid transparent;
        }

        &.is-active {
            border-left-color: $accent-color-1;
            border-right-color: $accent-color-1;
        }
    }
}