<?xml version="1.0" encoding="utf-8"?>
<project name="VBench.Report" xmlns="https://raw.githubusercontent.com/Ackara/Traneleon/master/src/Traneleon/traneleon.xsd">
  <sass>
    <include>
      <pattern>wwwroot/**/*.scss</pattern>
    </include>
  </sass>

  <typescript>
    <include outFile="wwwroot/scripts/app.ts">
      <pattern>wwwroot/**/*.ts</pattern>
    </include>
  </typescript>
</project>