// Depth
// ===========================================================================

@mixin depth25($color) {
    box-shadow: 0 4px 5px 0 transparentize($color, 0.86), 0 1px 10px 0 transparentize($color, 0.88), 0 2px 4px -1px transparentize($color, 0.70);
}

@mixin depth50($color) {
    box-shadow: 0 8px 17px 2px transparentize($color, 0.86), 0 3px 14px 2px transparentize($color, 0.88), 0 5px 5px -3px transparentize($color, 0.8);
}

@mixin depth75($color) {
    box-shadow: 0 16px 24px 2px transparentize($color, 0.86), 0 6px 30px 5px transparentize($color, 0.88), 0 8px 10px -7px transparentize($color, 0.8);
}

@mixin depth100($color) {
    box-shadow: 0 24px 38px 3px transparentize($color, 0.86), 0 9px 46px 8px transparentize($color, 0.88), 0 11px 15px -7px transparentize($color, 0.80);
}